
@media screen and (max-width: 480px){
    #cu-info{
        padding-left: 80px;
    }
}
/* @media screen and (min-width: 768px){
    
} */
@media screen and (min-width: 1200px){
    #cu-info{
        margin-left: 260px;
    }
}