
@media (max-width: 480px){
    /* #cust-info{
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    } */
}
@media (max-width: 768px){
    
}
@media (max-width: 1200px){
    
   
}