
@media (max-width: 480px){
    
}
@media (max-width: 768px){
    /* #otpSuit{
        margin-left: 170px; 
        font-size:xx-large;
    } */
}
@media (max-width: 1200px){
    /* #otpSuit{
        margin-left: 170px; 
        font-size:xx-large;
    } */
}